// INICIO
nav.nav-main-menu {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 30px;
  margin: auto;
  background: none;

  @include desktop {
    background: $bg-black;
  }

  &.home-menu {
    position: unset;
    background: none;

    @include desktop {
      position: absolute;
      z-index: 1;
      background: rgb(0,0,0);
      background: -moz-linear-gradient(180deg, rgba(0,0,0,0.7) 60%, rgba(255,255,255,0) 100%);
      background: -webkit-linear-gradient(180deg, rgba(0,0,0,0.7) 60%, rgba(255,255,255,0) 100%);
      background: linear-gradient(180deg, rgba(0,0,0,0.7) 60%, rgba(255,255,255,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1); 
    } 
  }

  ul.menu {
    display: flex;
    position: relative;
    width: 100%;
    margin: auto;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    float: none;
    background: transparent;

    @mixin menu-inclusive-language {
      & ~ div.menu_link_content {
        div.media--bundle--inclusive-language {
          display: block;
        }
      }
    }

    @mixin active-sub-indicator {
      .sf-sub-indicator {
        &:after {
          color: $text-black;
        }
      }
    }

    li {
      background: transparent;

      &.sfHover {

        a {
          color: $text-black;
          background: $bg-white;

          @include menu-inclusive-language;
          @include active-sub-indicator;

          &:hover,
          &:visited,
          &:hover:visited {
            color: $text-black;
            background: $bg-white;
          }
        }

        ul {
          top: 100%;

          li {
        
            a {
              text-align: left;
            }
          }
        }
      }

      &:hover,
      &:visited,
      &:hover:visited {
        color: $text-black;
        background: $bg-white;
      }

      a {
        min-width: 130px;
        color: $text-white;
        text-decoration: none;
        font-size: 12pt;
        font-weight: 600;
        background: transparent;

        @include large {
          font-size: 12pt;
        } 

        .sf-sub-indicator {
          &:after {
            font-family: "Material Icons";
            content: "expand_more";
            position: absolute;
            top: 0;
            left: 0;
            line-height: 1;
            color: $text-white;
          }
        }

        &:hover,
        &:hover:visited {
          color: $text-black;
          background: $bg-white;
          text-decoration: underline;

          @include menu-inclusive-language;
          @include active-sub-indicator;
        }

        &:focus {
          color: $text-black;
          background: $bg-white;
          text-decoration: underline;

          @include active-sub-indicator;
        }

        &:visited {
          color: $text-white;
        }

        &.is-active {
          color: $text-white;
          background: transparent;
          text-decoration: underline;

          &:hover,
          &:hover:visited,
          &:focus {
            color: $text-black;
            background: $bg-white;
            text-decoration: underline;

            @include active-sub-indicator;
          }
        }
      }
    }
  }

  // MENU RESPONSIVE
  div.block--home-main-menu {
    display: none;

    @include desktop {
      display: block;
    }
  }

  div.block--mobile-main-menu {
    display: block;

    @include desktop {
      display: none;
    }
  }

  div.sf-accordion-toggle {

    a {
      display: block;
      position: relative;
      width: max-content;
      margin: auto;
      padding: 30px;
      border: none;
      text-align: center;
      color: $text-white;
      background: $bg-dark-blue;
      font-weight: normal;
      border-radius: 50%;
      
      &::after {
        font-family: "Material Icons";
        content: "menu";
        position: absolute;
        right: 0;
        left: 0;
        line-height: 1;
        color: $text-white;
      }

      &.sf-expanded {
        background: $bg-secondary;

        &::after {
          font-family: "Material Icons";
          content: "close";
        }
      }

      span {
        display: none;
      }
    }
  }

  ul.menu.sf-accordion {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(100vh - 150px);
    margin-top: 1.3rem;
    padding: 5px 20px;
    text-align: left;
    background: $bg-white;
    z-index: 99999;
    overflow-y: auto;

    li {
      background: $bg-white;

      &.sf-expanded {

        a {
          color: $text-alpha;

          &:hover,
          &:active {
            color: $text-alpha;
          }
        }

        ul {

          li {

            &.sf-clone-parent {
              display: none;
            }

            a {
              color: $text-black;

              &:hover,
              &:active {
                color: $text-alpha;
              }
            }
          }
        }
      }

      a {
        color: $text-black;

        .sf-sub-indicator {
          &:after {
            color: $text-black;
          }
        }

        &:hover,
        &:active {
          color: $text-alpha;
        }
      }
    }
  }
}