// Top a
// -----------------------------------------------------------------------------
.page__top_a {
  position: relative;

  // Estilo Menu general
  ul.sf-menu,
  ul#superfish-main-accordion {
    float: none;
    margin: 0 auto;
    background: rgba(0, 0, 0, 1);

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;

    li {
      background: transparent;

      a,
      a:visited {
        font-size: 1.2rem;
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-weight: bold;
      }

      a.is-active,
      a.is-active:hover,
      a.is-active:active,
      a.is-active:focus,
      a:hover, 
      a:active, 
      a:focus {
        color: rgba(0,0,0,1);
        text-decoration: underline;
      }

      a.is-active {
        color: rgba(255,255,255,1);
        background: transparent;
      }
    }

    .sf-sub-indicator:after {
      font-family: "Material Icons";
      content: "expand_more";
      position: absolute;
      top: 0;
      left: 0;
      line-height: 1;
      color: rgb(255, 255, 255);
    }

    .sfHover > ul {
      min-width: 100% !important;
    }

    .sfHover a,
    .sfHover a:visited,
    .sfhover li a,
    .sfHover .sf-sub-indicator:after,
    .sf-expanded .sf-sub-indicator:after,
    a:hover .sf-sub-indicator:after
     {
      color: rgba(0,0,0,1);
    }
  }

  ul.sf-menu:after {
    display: none;
  }

  // Estilos menu responsive
  .sf-accordion-toggle {

    a#superfish-main-toggle {
      background: rgb(47, 42, 124);
      color: rgb(255,255,255);
      border: none;
      padding: 2rem;
      border-radius: 50%;

      span {
        display: none;
        visibility: hidden;
        color: transparent;
      }
    }

    a#superfish-main-toggle:after {
      font-family: "Material Icons";
      content: "menu";
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
    }
  }

  ul#superfish-main-accordion {
    padding: 0;

    a.is-active {
      color: rgba(255,255,255,1) !important;
    }

    li {
      ul {
        li:first-child {
          display: none;
          visibility: none;
        }
      }
    }
  }

  // Estilos menu pagina Home
  nav.nav-main-menu.home-menu {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1;

    ul.sf-menu {
      background: rgb(0,0,0);
      background: -moz-linear-gradient(180deg, rgba(0,0,0,0.7) 60%, rgba(255,255,255,0) 100%);
      background: -webkit-linear-gradient(180deg, rgba(0,0,0,0.7) 60%, rgba(255,255,255,0) 100%);
      background: linear-gradient(180deg, rgba(0,0,0,0.7) 60%, rgba(255,255,255,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1); 
    }
  }

  // Slideshow Home
  div#slick-views-home-slideshow-block-1-2 {
    position: relative;
    display: block;
  }

  li.slide__grid.grid
  {
    padding: 0;
  }

  div.slide__caption {
    padding: 0;

    img {
      width: 100%;
      height: auto;
    }

    .field-content div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-75%, -50%);

      p {
        color: #FFF;
        font-size: 38pt;
        line-height: 50pt;
        font-weight: bold;
        text-shadow: 0 0 15px rgb(0,0,0)
      }
    }
  }    
}

// Slideshow puntos de navegacion
.slick-dots {
  position: absolute;
  bottom: 0;
  padding: 15px 0px 50px;
  margin: auto;
  right: 0;
  left: 0;
  text-align: center;

  > li {
    margin: 0;
    padding: 0 5px;
  }

  button {
    color: transparent !important;
    background: rgb(255, 255, 255);
    border: none;
    border-radius: 100%;
    width: 15px;
    height: 15px;
  }

  > li.slick-active  button {
    background: rgb(244, 46, 98);
  }
}

// Slideshow flechas
.slick__arrow {
  z-index: 0;
}

.slick__arrow .slick-arrow {
  position: absolute;
  top: 50%;
  background: rgba(255,255,255,.5);
  color: transparent;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 40px 0px rgba(0,0,0,1);
  padding: 0;
  margin: 0 40px;
  text-align: center;
}

.slick-prev.slick-arrow:before {
  font-family: "Material Icons";
  content: "chevron_left";
  color: #000;
  font-size: 5rem;
  line-height: 1;
}

.slick-next.slick-arrow:before {
  font-family: "Material Icons";
  content: "chevron_right";
  color: #000;
  font-size: 5rem;
  line-height: 1;
}