{%
  set classes = [
    'block',
    'titleForItemTransparencia',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class
  ]
%}

{% if html_tag %}
  <{{ html_tag }}{{ attributes|without('id').addClass(classes) }}>
{% endif %}

{% block content %}
  <div class="d-inline-block icon-zone-item" id="icon-zone-title-item">
  </div>
  <div class="d-inline-block">
    <h1 id="idTitleItemPage"> </h1>
  </div>
{% endblock %}

{% if html_tag %}
  </{{ html_tag }}>
{% endif %}