@use '../../base/variables/variables' as var;
article.projects__regulatory{

    section.projects__regulatory-header{

        position: relative;

        &::after{
            content: "";
            position: absolute;
            bottom: -8%;
            left: 25%;
            border-top: 20px solid white;
            border-top-color: inherit;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            color: white;
        }        
    }

    section.projects__regulatory-content{

        background-color: var.$bg-color-primary;

        div.node__content{

            div.node__content-info > div.node__content-info--items{
                
                border-right: 1px solid var.$bg-color-secundary;

                &:last-child{
                    border: 0;
                }

            }

            div.node__content-mechanisms{

                ul.list-group{

                    li.list-group-item{

                        border: 0;

                        u.text{
                            color: var.$btn-color-primary;
                        }
                        
                        &:first-child{
                            background-color: var.$bg-color-terciario;
                            border: 1px solid var.$bg-color-terciario;
                        }
                    }

                    li.node__content-mechanisms--enlaces .field__item{
                        padding-bottom: .25rem ;
                    }
                    
                }
            }

            div.node__content-interactions{

                div#accordion{      

                    div.card-header{
                        background-color: var.$btn-color-primary;
                    }

                    div.card-body{
                        border-left: 8px solid rgba(51, 102, 204, .5);

                        div.file__content{    

                            div.file__content-title.Propuestas::before{
                                content: url('../../src/images/Propuesta.svg');  
                                position: relative;                                    
                                top: 15px;
                                left: -8px;                               
                            }

                            div.file__content-title.Comentarios::before{
                                content: url('../../src/images/Comentarios-normales.svg');  
                                position: relative;                                    
                                top: 15px;
                                left: -8px;                               
                            }
                            
                            div.file__content-file{
                                border-left: 2px solid rgba(51, 102, 204, .5);
                                margin-top: .5em;
                                padding-left: 1em;                                

                                div.file__content-file--item{
                                    margin-top: .5em;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}