@use '../../base/variables/variables' as var;

/* ==============================
INTERNAS
============================== */
@mixin accordion-title($selector...) {

    @for $i from 0 to length($selector){

        div.file__content-title.#{nth($selector, $i + 1)}::before{           

            @if nth($selector, $i + 1) == Propuestas{
                content: url('../../src/images/Propuesta.svg');
            } @else if  nth($selector, $i + 1) == Comentarios{
                content: url('../../src/images/Comentarios-normales.svg');
            } @else if  nth($selector, $i + 1) == Documents{
                content: url('../../src/images/Documentacion.svg'); 
            }          
            position: relative;                                    
            top: 15px;
            left: -8px;                                                    
        }
    } 
   
}

/* ===== ===== MIXIN ACCORDION ===== ===== */
@mixin accordion($value...) {

        div#accordion{      

            div.card-header{
                background-color: nth($value, 1);
            }

            div.card-body{
                border-left: 8px solid nth($value, 2);
                @include media-breakpoint-down(xs) {
                    padding: 1em;
                }

                @include media-breakpoint-up(md) {
                    @include accordion-title(Propuestas, Comentarios, Documents);                
                } 

                div.file__content-file{

                    @include media-breakpoint-up(md) {
                        border-left: 2px solid rgba(51, 102, 204, .5);
                        margin-top: .5em;
                        padding-left: 1em;   
                    }                                                

                    div.file__content-file--item{
                        margin-top: .5em;
                        
                        div.interactions-operator div.interactions-operator__items{
                            color: var.$text-color-quinario;
                        }
                        div.contextual-region{

                            @include media-breakpoint-down(sm) {
                                max-width: 200px;
                            }

                            max-width: 600px;
                        }
                        article.node__normativity-teaser > div.node__content > div.node__content-teaser{
                            max-width: 200px;
                            @include media-breakpoint-up(md) {
                                max-width: 625px;
                            }                            
                        }
                    }
                }
                
            }
        }
    
}

article.projects__regulatory{   
    

    section.projects__regulatory-content{

        background-color: var.$bg-color-primary;

        div.node__content{

            div.node__content-info > div.node__content-info--items{
                
                &.state{
                    min-width: 240px;
                }
                &.date-comments{
                    max-height: 80px;
                }
                @include media-breakpoint-up(md){
                    border-right: 1px solid var.$bg-color-secundary;
                }

                &:last-child{
                    border: 0;
                }

            }

            div.node__content-mechanisms{

                ul.list-group{

                    li.list-group-item{

                        border: 0;

                        u.text{
                            color: var.$btn-color-primary;
                        }
                        
                        &:first-child{
                            background-color: var.$bg-color-terciario;
                            border: 1px solid var.$bg-color-terciario;
                        }

                        &:nth-child(2){
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: Ellipsis;
                        }
                    }

                    li.node__content-mechanisms--enlaces .field__item{
                        padding-bottom: .25rem ;
                    }
                    
                }
            }

            div.node__content-interactions{

                @include accordion(var.$btn-color-primary, rgba(51, 102, 204, .5)); 
            }

            div.node__content-documents{
                @include accordion(var.$bg-color-terciario, var.$bg-color-secundary);
            }
        }
    }

    /* ==============================
    PROJECTS RELATED
    ============================== */
    section.projects__regulatory-related{

        position: relative;

        @include content-related--bg--webcrc();   

        div.projects__related-content{

            p.projects__related-header--title span{
                color: var.$text-color-cuaternario !important;
            }
        } 
    }
    
}

/* ==============================
VISTA PAGE COMMENTS
============================== */
div.page-projects{

    @include media-breakpoint-up(xl){       
        max-width: 1400px;        
    }

    /* ===== ===== FORM VIEW ===== ===== */
    @include form-view();

    /* ===== ===== TABLE ===== ===== */
    @include datable('projects-comments');

    table{

        tbody{

            tr td:nth-child(7) strong{
                display: none;
            }
        }
    }
    
        
    /* ===== ===== PAGINACION ===== ===== */
    @include pagination();
        
}