{% set classes = [
  'block accessibility-toolbar',
  bundle ? 'block--' ~ bundle|clean_class,
  id ? 'block--' ~ id|replace({"_": "-"})|clean_class,
]|merge(utility_classes ? utility_classes : []) %}

<div {{ attributes|without('id').addClass(classes) }}>
  {% block content %}
    {{ content }}
  {% endblock %}
</div>