@use '../base/variables/variables' as var;

div.theme-interest{
    position: relative;
    @include content-related--bg--webcrc();
    @include media-breakpoint-up(xl){
        div.container{
            max-width: 1400px; 
        }     
    }

    div.themes__interest-content{
        p.title{
            span{
                color: var.$text-color-cuaternario;
            }
        }

        div.slick{
            div.slide__content{
                img{

                    transform: scale(1, 1);
                    transition: 1s all;

                    &:hover {
                    transform: scale(1.1, 1.1);
                    transition: .5s all;
                    }
                }
            }
            nav.slick__arrow{
                
                position:initial !important;

                button.slick-arrow{
                    height: 0;
                    position: initial;

                    &::before{
                        color: white;
                        font-size: 3rem;                        
                    }

                    &:focus{
                        outline: none;
                    }

                    &:hover::before{
                        color: var.$text-color-cuaternario;
                    }
                   
                }

                button.slick-next{
                    margin-left: 3rem;
                }
            }
        }
    }
}