{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="media media-container">
        {{ content.field_tab_icon }}
        <div class="media-body">
          <h2 class="title m-0">
            {{ content.field_tab_title }}
          </h2>
        </div>
      </div>
      <div class="description">
        {{ content.field_tab_description }}
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}