/* ===== ===== TEXTO ===== ===== */
$text-color-primary: #070707 ;
$text-color-secundary: #383838;
$text-color-terciario: #EBEBEB;

/* ===== ===== FONDO ===== ===== */
$bg-color-primary: #EBEBEB;
$bg-color-secundary: #D6D6D6;
$bg-color-terciario: #141414;
$bg-color-cuaternario: #3366CC;

/* ===== ===== BOTONES y Anclas ===== ===== */
$btn-color-primary: #2F2A7C;