/* ===== ===== TEXTO ===== ===== */
$text-color-primary: #070707 ;
$text-color-secundary: #383838;
$text-color-terciario: #EBEBEB;
$text-color-cuaternario: #F42E62;

/* ===== ===== FONDO ===== ===== */
$bg-color-primary: #EBEBEB;
$bg-color-secundary: #b8b8b8;
$bg-color-terciario: #141414;
$bg-color-cuaternario: #3366CC;
$bg-color-quinario: #2F2A7C;

/* ===== ===== BOTONES y Anclas ===== ===== */
$btn-color-primary: #2F2A7C;