// SLIDESHOW 
.slideshow-primary {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;

  .slick__slider,
  .slick-dotted.slick-slider {
    margin: auto;
  }

  .slide__content {
    margin: auto;

    .slide__grid {
      padding: 0;

      .slide__caption {
        padding: 0;
  
        .slideshow-url a,
        .slideshow-content {
          position: absolute;
        }
  
        .slideshow-url a{
          display: block;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          color: transparent;
        }
        
        .slideshow-image-full img {
          width: 100%;
          height: auto;
        }

        .slideshow-content {
          width: 100%;
          top: 50%;
          left: 0;
          margin: auto;
          padding: 5px 40px;
          transform: translate(0%, -50%);

          @include desktop {
            width: 70%;
            padding: 0 0rem 0 6rem;
            transform: translate(10%, -50%);
          }

          p {
            font-size: 15pt;
            color: $text-white;
            font-weight: bold;
            text-shadow: 0 0 15px $bg-black;

            @include medium {
              font-size: 18pt;
              line-height: 35px;
            }

            @include large {
              font-size: 25pt;
              line-height: 50px;
            }

            @include large-lg {
              font-size: 34pt;
              line-height: 60px;
            }
          }
        }
      }
    }
  }

  // CONTROLES FLECHAS
  .slick--initialized 
  {
    .slick__arrow {
      visibility: hidden;

      @include desktop {
        visibility: visible;
      }

      .slick-arrow,
      .slick-arrow.slick-disabled {
        position: absolute;
        width: 100px;
        height: 100px;
        top: 50%;
        padding: 0;
        margin: 0 70px;
        text-align: center;
        color: transparent;
        background: $bg-white-alpha-5;
        box-shadow: 0 0 40px 0px $bg-black;
        opacity: 1;

        &:hover, 
        &:active, 
        &:focus {
          background: $bg-white-alpha-8;
        }
      }

      .slick-prev.slick-arrow:before {
        font-family: "Material Icons";
        content: "chevron_left";
        color: $text-black;
        font-size: 5rem;
        line-height: 1;
        opacity: 1;
      }
      
      .slick-next.slick-arrow:before {
        font-family: "Material Icons";
        content: "chevron_right";
        color: $text-black;
        font-size: 5rem;
        line-height: 1;
        opacity: 1;
      }
    }
  }
}

// PUNTOS DE NAVEGACION
ul.slick-dots {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  margin: 10px auto;
  text-align: center;
  list-style: none;

  @include medium {
    margin: 20px auto 30px;
  }

  li {
    width: auto;
    height: auto;

    button {
      width: 15px;
      height: 15px;
      background: $bg-white;
      border-radius: 50%;

      &::before {
        content: '';
        display: none;
      }
    }

    &.slick-active {
      button {
        background: $bg-secondary
      }
    }
  }
}