:root {
  --font-size: 12;
}

body {
  font-size: calc(var(--font-size) * 1pt);
}

/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane, .pill-content > .pill-pane {
  display: block;    /* undo display:none          */
  height: 0;         /* height:0 is also invisible */ 
  overflow: hidden;  /* no-overflow                */
}
.tab-content > .active, .pill-content > .active {
  height: auto;      /* let the content decide it  */
} /* bootstrap hack end */

.contrasteweb {
  mix-blend-mode: difference;
  filter: none;
  background: #FFF;
}

// CLASES GENERALES
.logo-postdata {
  font-family: $roboto-condensed;
  position: relative;
  display: block;
  width: max-content;
  margin: auto;
  font-size: 40pt;
  font-weight: bold;
  color: $text-yellow !important;

  @include small {
    font-size: 50pt;
  }

  @include large {
    font-size: 70pt;
  }

  @include large-lg {
    font-size: 80pt;
  }

  &:after {
    content: '';
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    width: 35%;
    margin-right: 2rem;
    border: 5px solid $bg-yellow;
    border-radius: 20px;
  }
}

.title-two-colors {
  display: flex;
  flex-wrap: wrap;

  :first-child {
    color: rgba(244, 67, 92, 1) !important;
  }

  > * {
    margin-right: 10px;
  }
}

.viewsreference--view-title {
  display: none;
}

.media--blazy {
  img.b-blur {
    display: none;
  }
}

.title-block-primary {

  .media {

    img {
      width: 30px;
      font-weight: normal;

      @include small {
        width: 52px;
        font-weight: bold;
      }
    }
  }
}

// ESTILOS GIF LENGUAJE INCLUSIVO
div.media.media--bundle--inclusive-language {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 100%;
  margin: 5px auto 15px;

  img {
    width: 130px;
    height: auto;
  }
}

// HOVER ACTIVO GIF LENGIAJE INCLUSIVO
.media-body {
  position: relative;
  
  &:hover {
    div.media.media--bundle--inclusive-language {
      display: block;
    }
  }
}

// VIDEOS RESPONSIVE CKEDITOR GLOBAL 
@mixin content-media-video {
  position: relative;
  padding-bottom: 40%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 75%;
  margin: 20px auto;
}

@mixin media-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.field--name-field-media-oembed-video {
  @include content-media-video;

  iframe,
  object,
  embed,
  video {
    @include media-video;
  }
  
}

.field--name-field-media-video-file {
  div {
    @include content-media-video;
  }
}

video {
  @include media-video;
}

#bottom_a > div {
  margin: 0 5px;
}

.btn-primary {
  color: rgba(255, 255, 255, 1);
  background: rgb(47, 42, 124);
  border-radius: 15px;
  padding: 10px 20px;
}

// ESTILOS TABS GLOBAL
.tabs-container.tabs-global {
  width: 100%;
  padding: 30px 0;
  margin: 0 auto;

  ul.nav-tabs {
    padding: 0 7rem;

    li {
      margin-right: 20px;
      padding: 0;
      background: transparent;

      &:last-child {
        margin-right: 0;
      }

      * {
        font-size: 14pt;
        color: rgb(140, 140, 140);
      }

      a {
        padding: 10px 100px;
        text-decoration: none;
        background: rgba(206, 206, 206, 1);
        border: none;

        &.active {
          background: rgba(47, 42, 124, 1);
          transition: all .3s ease;
          * {
            color: rgba(255, 255, 255, 1);
            transition: all .3s ease;
          }
        }
      }
    }
  }

  div.tab-content {
    padding: 0;
    margin: auto;
    div.tab-pane {
      padding: 30px 50px 60px;
      background: rgb(46,41,123);
      background: linear-gradient(90deg, rgba(46,41,123,1) 0%, rgba(23,19,78,1) 100%); 

      * {
        color: rgba(255, 255, 255, 1);
      }
    }
  }
}

// CONTENIDOS MAS CONSULTADOS
div.most-consulted-content {

  ul.slick--view--tabs-contents-consulted {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-wrap: wrap;

    @include medium {
      flex-wrap: nowrap;
    }

    > li {
      position: relative;
      padding: 0;

      > div {
        height: 100%;

        & > div {
          height: 100%;

          & > div {
            height: 100%;

            & > div {
              height: 100%;
            }
          }
        }
      }

      &:after {
        content: '';
        display: none;
        position: absolute;
        width: 2px;
        height: 70%;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background: $bg-white-alpha-5;

        @include desktop {
         display: block;
        }
      }

      &:last-child:after {
        display: none;
      }

      .slide__caption {
        padding: 5px 20px;

        @include desktop {
          padding: 20px;
        }

        .field-content {
          display: flex;
          position: relative;
          height: 100%;
          padding: 20px 10px;
          background: transparent;
          border-radius: 10px;
          align-items: center;
          text-align: left;

          @include desktop {
            display: block;
            align-items: initial;
            text-align: center;
          }

          & * {
            color: $text-dark-blue;
            font-size: 12pt !important;
            font-weight: 500;

            @include desktop {
              font-size: 12pt;
            }
          }

          a {
            position: absolute;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            color: transparent !important;
          }

          .background-round {
            width: max-content;
            padding: 10px;
            margin: 0px 20px 0px 0px;
            border-radius: 50%;
            background: $bg-white-alpha-8;

            @include desktop {
              margin: 10px auto;
              padding: 20px;
            }
          }

          img {
            width: 50px;
            max-width: 40px;

            @include desktop {
              max-width: 100%;
            }
            
          }

          &:before {
            font-family: "Material Icons";
            content: 'arrow_drop_up';
            display: none;
            position: absolute;
            right: 0;
            left: 0;
            top: 75%;
            font-size: 35pt;
            color: transparent;
            text-align: center;
            margin: auto;

            @include desktop {
              display: block;
            }
          }

          &:hover,
          &:active,
          &:visited {
            background: $bg-secondary;

            & * {
              color: $text-white;
            }

            .background-round {
              background: $bg-white;
            }

            img {
              filter: $img-filter-secondary;
            }

            &:before {
              color: $text-white;
            }
          }
          
        }
      }
    }
  }
}


// LOS MAS IMPORTANTE DE LA CRC
.contenido-importante-container {
  background: rgb(46,41,123);
  background: linear-gradient(90deg, rgba(46,41,123,1) 0%, rgba(23,19,78,1) 100%); 

  .title-two-colors {

    div + div {
      color: rgba(255, 255, 255, 1);
    }
  }
}

// PAGINAS DESTACADAS
.featured-pages-microsite {

  .slick-track {
    width: 100%;

    > div {
      width: auto;
      margin-right: 15px;
    }
  }

  ul.slick__grid,
  ul.slide__content {

    li {
      // width: auto;

      .slide__caption {

        .img-microsite {
          border-radius: $border-radius-global;

          /* img {
            max-width: 100%;

            @include large {
              max-width: 230px;
              width: auto;
            }

            @include large-lg {
              max-width: 340px;
              width: auto;
            }
          } */
        }

        .title-microsite {
          color: $text-dark-blue;
          font-weight: bold;
          font-size: 18pt;

          * {
            color: $text-dark-blue;
            font-weight: bold;
            font-size: 18pt;
          }
        }

        .slide__description {
          .field-content {
            > a {
              position: absolute;
              right: 0;
              left: 0;
              top: 0;
              bottom: 0;
              display: block;
              color: transparent;
              background: transparent;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

// PROYECTOS A COMENTAR
.projects-to-comment {

  h1, h2, h3,
  h4, h5, h6 {
    font-size: 14pt;

    * {
      font-size: 14pt;
    }
  }
}

// INDICADORES
.indicators-container {
  background: $bg-white;

  div.indicators-container-items {
    padding: 0;

    @include tablet {
      padding: 20px 50px;
    }

    div.card-indicator {
      max-width: 100%;
      width: 100%;
      border-radius: $border-radius-global;

      @include desktop {
        max-width: 250px;
      }

      * {
        font-family: $roboto-condensed;
      }

      &:first-child {
        background: $bg-dark-blue;

        .card-body {
          background: $bg-dark-blue;
        }

        * {
          color: $text-white;
        }
      }

      &:last-child {
        margin-right: 0 !important;
      }

      .card-body {
        background: $bg-light-grey;
        border-radius: $border-radius-global 0 0 $border-radius-global;

        @include desktop {
          border-radius: $border-radius-global $border-radius-global 0 0;
        }

        > * {
          margin: auto;
        }

        .count_indicator {
          margin: auto;
          font-size: 22pt;
          font-weight: bold;

          @include small {
            font-size: 25pt;
          }

          @include large {
            font-size: 30pt;
          }

          @include large-lg {
            font-size: 40px;
          }
        }

        .unit {
          font-size: 12pt;
          font-weight: 700;

          @include small {
            font-size: 14pt;
          }

          @include large {
            font-size: 16pt;
          }

          @include large-lg {
            font-size: 20pt;
          }

          * {
            font-size: 12pt;
            font-weight: 700;

            @include large {
              font-size: 16pt;
            }
  
            @include large-lg {
              font-size: 20pt;
            }
          }
        }

        .description {
          font-size: 12pt;
          font-weight: normal;

          * {
            font-size: 12pt;
            font-weight: normal;

            @include small {
              font-size: 12pt;
            }
          }
        }
      }

      .card-footer {
        padding: 20px 10px;
        background: $bg-dark-blue;
        border-radius: 0 $border-radius-global $border-radius-global 0;

        @include desktop {
          border-radius: 0 0 $border-radius-global $border-radius-global;
        }

        * {
          font-size: 11pt;
          font-weight: bold;
          color: $text-white;
        }

        .media {
          position: relative;
          max-width: 165px;
          margin: auto;

          .media {
            padding: 10px;
            background: $bg-white;
            border-radius: 50%;

            img {
              width: 18px;

              @include large-lg {
                width: 25px;
              }
            }
          }

          .media-body {
            position: unset;
            padding: 0 1px;
            text-align: left;

            @include desktop {
              position: relative;
            }

            a {
              display: block;
              position: absolute !important;
              right: 0;
              left: 0;
              margin: auto;
              padding-top: 18px;
              font-weight: normal;
              text-transform: capitalize;
              font-size: 12pt;
              text-align: center;

              @include desktop {
                display: none;
                position: relative !important;
                right: unset;
                left: unset;
                padding: .375rem .75rem;
              }
            }
          }
        }
      }

      & + div.card-indicator
      {
        &:hover {
          * {
            color: $text-white;
            text-align: center;
          }
  
          .card-body {
            padding-bottom: 1.25rem;
            background: $bg-secondary;

            @include desktop {
              padding-bottom: 5px;
            }
          }
  
          .card-footer {
            padding-top: 1.25rem;
            background: $bg-secondary;
            border: none;

            @include desktop {
              padding-top: 5px;
            }
  
            .media {
  
              span {
                display: none;
              }
  
              .media-body {
                text-align: center;

                div {
                  max-width: 110px;
                  margin: auto;
                }
  
                a {
                  display: block;
                  font-weight: bold;
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }
}

// ULTIMAS NOTICIAS
.news-last-container { 
  width: 100%;

  @include desktop {
    width: 70%;
  }

  ul.slide__content {
    display: block;
    width: 100%;
    height: 100%;
    align-items: center;
    grid-template-areas:  "primary second-1"
                          "primary second-2"
                          "primary second-3";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    @include desktop {
      display: grid;
    }

    * {
      font-family: $roboto-condensed;
    }

    h1, h2, h3,
    h4, h5, h6 {
      font-size: 12pt;
      font-weight: normal;
      color: $text-black;

      * {
        font-size: 12pt;
        font-weight: normal;
        color: $text-black;
      }
    }

    > li {
      padding: 0 0 20px 0;

      @include desktop {
        padding: 0;
      }

      &:nth-child(1) {
        grid-area: primary;
        width: 100%;
        padding: 10px 10px 30px;
        border-right: none;
        border-bottom: 1px solid $bg-dark-gray;

        @include desktop {
          padding: 0 10px;
          border-right: 1px solid $bg-dark-gray;
          border-bottom: none;
        }

        .slide__caption {
          padding: 0;

          .slide__data { 
            h1, h2, h3,
            h4, h5, h6 {
              font-size: 12pt;

              @include small {
                font-size: 20pt;
              }

              * {
                font-size: 12pt;

                @include small {
                  font-size: 20pt;
                }
              }
            }
          }
        }
      }

      &:nth-child(2) {
        grid-area: second-1;

        .slide__caption { 
          padding: 20px 10px 10px 10px;

          @include desktop {
            padding: 0 10px 10px 10px;
          }
        }
      }

      &:nth-child(3) {
        grid-area: second-2;

        .slide__caption { 
          padding: 10px;
        }
      }

      &:nth-child(4) {
        grid-area: second-3;

        .slide__caption { 
          padding: 10px 10px 0 10px;
        }
      }

      h1, h2, h3,
      h4, h5, h6 {
        font-size: 12pt;
        font-weight: normal;
        color: $text-black;

        * {
          font-size: 12pt;
          font-weight: normal;
          color: $text-black;
        }
      }

      + li {
        width: 100%;

        .slide__caption {
          display: block;

          @include tablet {
            display: flex;
          }

          .slide__overlay {
            flex: 1;

            .media {

            }
          }

          .slide__data {
            flex: 3;
            padding-left: 0;

            @include tablet {
              padding-left: 20px;
            }

            sub {

            }

            time {
              font-size: 10pt;
            }
          }
        }
      }
    }
  }

  .slick-dots {
    top: 100%;
    margin: 0 auto;
    padding: 0;
  }
}

.block--tabs-social-networks {
  position: relative;
  width: 100%;
}

.tabs-container.tabs-secondary {

  ul {
    li {

      * {
        color: rgba(255, 255, 255, 1);
      }

      a {
        background:rgba(40, 55, 137, 1);
        border-radius: 10px 10px 0 0;
        margin-right: 10px;
        padding: 10px 30px;
        border: none;
      }

      a.active {
        background: rgba(244, 46, 98, 1);
      }

      img {
        width: 30px;
      }
    }
  }

  /* .tab-content {
    padding: 0;
    background: rgb(255,255,255);

    .embed-container  {
      padding-bottom: 120%;
    }
  } */
}

// TODAS LAS NOTICIAS
.news-all {
  max-width: 1600px;
  margin: auto;

  .field-content > *{
    display: block;
    margin-bottom: 5px;
  }

  a {
    text-decoration: none;
  }

  sub {
    * {
      color: rgba(40, 55, 137, 1);
      font-style: oblique;
      font-weight: bold;
    }
  }

  h3, h4, h5, h6 { 
    margin: 0;

    * {
      display: block;
      color: rgba(61, 61, 61, 1);
      font-size: 14pt;
      font-weight: 600;
    }
  }

  time {
    border-left: 5px solid rgb(51, 102, 204);
    padding: 0 10px;
  }

}

// RSS POSTDATA
.view-block-rss-last-of-postada {
  .views-field {
    overflow: scroll hidden;
    scrollbar-width: thin;
    scrollbar-color: $bg-dark-gray $bg-white;

    & > div {
      display: flex;
      width: 200%;
      align-content: center;

      & > div {
        margin: 20px;
        min-width: 400px;
      }
    }
  }
}