// CLASES GENERALES
.logo-postdata {
  position: relative;
  color: rgba(254, 221, 50, 1);
  font-size: 10rem;
  font-weight: bold;

  &:after {
    content: '';
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    width: 35%;
    margin-right: 2rem;
    border: 5px solid rgba(254, 221, 50, 1);
    border-radius: 20px;
  }
}

.title-two-colors {
  display: flex;
  flex-wrap: wrap;

  :first-child {
    color: rgba(244, 67, 92, 1);
  }

  > * {
    margin-right: 10px;
  }
}

.viewsreference--view-title {
  display: none;
}

.embed-container {
  position: relative;
  padding-bottom: 100%;
  height: 0;
  overflow: hidden;
}

.embed-container iframe {
  position: absolute !important;
  top:0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.media--blazy {
  img.b-blur {
    display: none;
  }
}

#bottom_a > div {
  margin: 0 5px;
}

.btn-primary {
  color: rgba(255, 255, 255, 1);
  background: rgb(47, 42, 124);
  border-radius: 15px;
  padding: 10px 20px;
}

// ESTILOS TABS GLOBAL
.tabs-container.tabs-global {
  width: 100%;
  padding: 30px 0;
  margin: 0 auto;

  ul.nav-tabs {
    padding: 0 7rem;

    li {
      margin-right: 20px;
      padding: 0;
      background: transparent;

      &:last-child {
        margin-right: 0;
      }

      * {
        font-size: 14pt;
        color: rgb(140, 140, 140);
      }

      a {
        padding: 10px 100px;
        text-decoration: none;
        background: rgba(206, 206, 206, 1);
        border: none;

        &.active {
          background: rgba(47, 42, 124, 1);
          transition: all .3s ease;
          * {
            color: rgba(255, 255, 255, 1);
            transition: all .3s ease;
          }
        }
      }
    }
  }

  div.tab-content {
    padding: 0;
    margin: auto;
    div.tab-pane {
      padding: 30px 50px 60px;
      background: rgb(46,41,123);
      background: linear-gradient(90deg, rgba(46,41,123,1) 0%, rgba(23,19,78,1) 100%); 

      * {
        color: rgba(255, 255, 255, 1);
      }
    }
  }
}

// CONTENIDOS MAS CONSULTADOS
.tabs-container {
  ul.nav-pills {
    background: rgba(255, 255, 255, 1);

    li {
      position: relative;

      .title, .title > *
      {
        font-size: 38pt;
        font-weight: bold;
      }

      a {
        text-decoration: none;
        padding: 15px 5px;
        text-align: center;

        * {
          color: rgba(47, 42, 124, 1);
          align-items: center;
        }

        img {
          min-width: 55px;
        }

        .media.media-container
        {
          width: 50%;
          margin: auto;
          min-width: 350px;

          .field[data-blazy] {
            min-width: 20%;
          }
        }

        .description
        {
          visibility: hidden;
          margin-top: -10px;
          font-weight: normal;
        }
      }

      a.active {

        * {
          color: rgba(244, 67, 92, 1);
        }
        
        img {
          filter: invert(25%) sepia(99%) saturate(2254%) hue-rotate(328deg) brightness(98%) contrast(95%);
        }

        .description {
          visibility: visible;
        }
      }

      a.active:after {
        font-family: "Material Icons";
        content: 'arrow_drop_down';
        position: absolute;
        left: 0;
        right: 0;
        top: 55%;
        font-size: 5rem;
        color: rgba(255, 255, 255, 1);
      }
    }

    li:after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgb(202, 202, 202);
      width: 2px;
      height: 80%;
      margin: auto;
    }

    li:last-child:after {
      display: none;
    }
  }

  div.tab-content {
    background: rgba(214, 214, 214, 1);
    padding: 50px 20px 30px;

    ul.slide__content {
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      justify-content: center;

      li {
        position: relative;
        padding: 30px 20px;
      }

      li:before {
        font-family: "Material Icons";
        content: 'arrow_drop_up';
        position: absolute;
        right: 0;
        left: 0;
        bottom: -10px;
        color: transparent;
        font-size: 3rem;
        text-align: center;
        margin: auto;
      }

      > li:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(231, 231, 231, 1);
        width: 2px;
        height: 80%;
        margin: auto;
      }

      > li:last-child:after {
        display: none;
      }

      .slide__caption {
        position: relative;
        text-align: center;
        color: rgba(47, 42, 124, 1);
    
        a {
          position: absolute;
          right: 0;
          left: 0;
          top: 0;
          bottom: 0;
          text-align: center;
          background: transparent !important;
          color: transparent !important;
          z-index: 1;
        }

        .background-round {
          background: rgba(255,255,255,0.7);
          border-radius: 50%;
          margin: auto;
          width: 100%;
          max-width: 100px;
        }
    
        img {
          width: 100%;
          max-width: 100px;
          min-width: 70px;
          padding: 20px;
        }
      }

      li:hover {
        background: rgba(244, 67, 92, 1);
        border-radius: 15px;

        &::before {
          color: rgba(255, 255, 255, 1);
        }

        &::after {
          display: none;
        }

        h1, h2, h3, h4, h5, h5,
        div, p {
          color: rgba(255, 255, 255, 1);
        }

        .background-round {
          background: rgba(255, 255, 255, 1);
        }

        img {
          filter: invert(25%) sepia(99%) saturate(2254%) hue-rotate(328deg) brightness(98%) contrast(95%);
        }
      }
    }

    .slick-dots {
      padding: 0;
      bottom: -35px;
    }
  }
}

// LOS MAS IMPORTANTE DE LA CRC
.contenido-importante-container {
  background: rgb(46,41,123);
  background: linear-gradient(90deg, rgba(46,41,123,1) 0%, rgba(23,19,78,1) 100%); 

  .title-two-colors {

    div + div {
      color: rgba(255, 255, 255, 1);
    }
  }
}

.tabs-container.tabs-vertical {
  border-radius: 20px;
  box-shadow: 0 0 5px 0px rgb(0,0,0);
  overflow: hidden;

  .nav-tab-content {
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, .5);
    z-index: 1;
  }

  .nav {

    .title {
      padding: 20px;

      * {
        font-size: 20pt;
        font-weight: bold;
      }
    }

    a {
      position: relative;
      background: rgba(214, 214, 214, 1);
      border-radius: 0;
      text-decoration: none;
      border-bottom: 2px solid rgb(255, 255, 255);

      * {
        color: rgba(47, 42, 124, 1);
      }

      &:after {
        font-family: "Material Icons";
        content: "arrow_right";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 89%;
        font-size: 7rem;
        line-height: .99;
        color: transparent;
      }

      &:last-child {
        border-bottom: none;
      }
    }

    a.active {
      background: rgba(244, 67, 92, 1);
      transition: all .3s ease;

      * {
        color: rgba(255, 255, 255, 1);
      }

      &:after {
        color: rgba(244, 67, 92, 1);
        transition: all .3s ease;
      }
    }
  }

  .tab-content {
    background: rgba(255, 255, 255, 1);
    height: 100%;
  }
}

// INDICADORES
.indicators-container {
  background: rgba(255, 255, 255, 1);

  .row .col:first-child .card, 
  .row .col:first-child .card .card-body {
    background: rgba(40, 55, 137, 1);
  }

  .card {
    width: 100%;
    max-width: 270px;
    min-width: 255px;
    margin: auto;
    overflow: hidden;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 6px 9px 1px rgba(0, 0, 0, .3);

    .card-body {
      background: rgba(241, 241, 241, 1);
      padding: 15px 10px 5px;
      border: none;

      * {
        margin: 20px auto;
        line-height: 1;
      }

      .count_indicator {
        font-size: 45pt;
        font-weight: bold;
      }

      .unit, .unit * {
        font-size: 18pt;
        font-weight: bold;
      }

      .description, .description * {
        font-size: 14pt;
      }
    }

    .card-footer {
      padding: 30px 18px;
      background: rgba(40, 55, 137, 1);
      border: none;

      * {
        color: rgba(255, 255, 255, 1);
        text-decoration: none;
        font-weight: bold;
        font-size: 13pt;
        line-height: 1;
      }

      > .media {
        max-width: 90%;
        margin: 0 auto;
      }

      .font-image {
        background: rgba(255, 255, 255, 1);
        border-radius: 50%;
      }

      img {
        width: 100%;
        min-width: 30px;
        max-width: 40px;
      }
    }
  }

  .card-indicator {

    a.btn-link {
      display: none;
      text-transform: none;
      text-decoration: underline;
    }
  }

  .card-indicator:hover {

    .card-body, .card-footer {
      background: rgba(244, 67, 92, 1);

      * {
        color: rgba(255, 255, 255, 1);
      }
    }

    .card-footer {
      text-align: center;
      padding: 0 0 16px;

      .media {

        span {
          display: none;
        }

        .media-body {
          margin-left: 0 !important;

          div {
            width: 100%;
            max-width: 160px;
            min-width: 150px;
            margin: 0 auto 20px;
          }
        }

        a {
          display: block;
        }
      }
    }
  }
}

// ULTIMAS NOTICIAS
.news-last-container {
  width: 70%;

  ul.slide__content {
    display: grid;
    width: 100%;
    height: 100%;
    align-items: center;
    grid-template-areas:  "primary second-1"
                          "primary second-2"
                          "primary second-3";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    li {
      width: 100%;

      * {
        margin: 0;
        padding: 0;
      }

      a {
        text-decoration: none;
      }

      div.media {
        background-size: cover;
        border-radius: 10px;
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .5);
      }

      sub {

        > * {
          color: rgba(40, 55, 137, 1);
          font-style: oblique;
          font-weight: bold;
        }
      }

      h3 > * {
        display: block;
        color: rgba(61, 61, 61, 1);
        font-weight: 600;
      }

      time {
        display: block;
        border-left: 5px solid rgb(51, 102, 204);
        padding: 0 10px;
        margin: 10px auto;
      }

      &:nth-child(1) {
        grid-area: primary;
      }

      &:nth-child(2) {
        grid-area: second-1;

        .slide__caption {
          padding-top: 0;
        }
      }

      &:nth-child(3) {
        grid-area: second-2;
      }

      &:nth-child(4) {
        grid-area: second-3;
      }

      &:first-child {
        max-width: 100%;
        min-width: 550px;
        border-right: 2px solid rgb(202, 202, 202);

        .slide__caption {
          padding: 0;

          .slide__data {
            margin: 15px auto 0;

            h3 a {
              font-size: 18pt;
            }
          }
        }

        div.media { 
          padding-bottom: 65%;
        }
      }

      &:last-child {
        border-bottom: none;
      }

      + li {
        margin-left: 20px;
        padding: 0;
        max-width: 440px;
        min-width: 350px;
        border-bottom: 2px solid rgb(202, 202, 202);

        .slide__caption {
          display: flex;
          align-items: center;
          text-align: left;
          padding: 0 0 25px 0;

          .slide__overlay {

            div.media {
              width: 118px;
              height: 118px;
              margin-right: 20px;
            }
          }
        }
      }
    }
  }

  .slick-dots {
    position: relative;
    padding: 0;
    margin: 10px auto;
  }
}

.block--tabs-social-networks {
  position: relative;
  width: 100%;
}

.tabs-container.tabs-secondary {

  ul {
    li {

      * {
        color: rgba(255, 255, 255, 1);
      }

      a {
        background:rgba(40, 55, 137, 1);
        border-radius: 10px 10px 0 0;
        margin-right: 10px;
        padding: 10px 30px;
        border: none;
      }

      a.active {
        background: rgba(244, 46, 98, 1);
      }

      img {
        width: 30px;
      }
    }
  }

  .tab-content {
    padding: 0;
    background: rgb(255,255,255);

    .embed-container  {
      padding-bottom: 120%;
    }
  }
}

// TODAS LAS NOTICIAS
.news-all {
  max-width: 1600px;
  margin: auto;

  .field-content > *{
    display: block;
    margin-bottom: 5px;
  }

  a {
    text-decoration: none;
  }

  sub {
    * {
      color: rgba(40, 55, 137, 1);
      font-style: oblique;
      font-weight: bold;
    }
  }

  h3, h4, h5, h6 { 
    margin: 0;

    * {
      display: block;
      color: rgba(61, 61, 61, 1);
      font-size: 14pt;
      font-weight: 600;
    }
  }

  time {
    border-left: 5px solid rgb(51, 102, 204);
    padding: 0 10px;
  }

}