// Tabs
// -----------------------------------------------------------------------------

// CONTENEDOR
.tabs-container.tabs-primary {

  // BARRA DE NAVEGACION
  ul.nav-pills {
    padding: 10px 10px 5px;
    background: $bg-white;

    li {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 2px;
        height: 80%;
        margin: auto;
        background: $bg-gray;
      }

      &:last-child:after {
        display: none;
      }

      a,
      button {
        background: transparent;

        div.media.media-container {
          display: block;
          width: max-content;
          text-align: left;
          margin: auto;
          justify-content: center;
          align-content: center;
          align-items: center;

          .field[data-blazy] {
            min-width: auto;
            margin-right: 0px;

            @include desktop {
              margin-right: 10px;
            }
          }

          img {
            width: 50px;
            height: auto;

            @include small {
              width: 60px;
            }
          }

          .media-body {
            .title,
            .title * {
              font-size: 12pt;
              color: $text-dark-blue;

              @include small {
                font-size: 20pt;
              }

              @include desktop {
                font-size: 30pt;
              }
            }
          }

          @include desktop {
            display: flex;
          }
        }

        div.description,
        div.description * {
          display: none;
          margin-top: -4px;
          color: $text-dark-blue;
          visibility: hidden;

          @include desktop {
            display: block;
          }
        }

        &:after {
          font-family: "Material Icons";
          content: 'arrow_drop_down';
          position: absolute;
          left: 0;
          right: 0;
          top: 35%;
          font-size: 70pt;
          color: $text-white;
          visibility: hidden;

          @include small {
            top: 50%;
          }

          @include desktop {
            top: 40%;
          }
        }

        &:hover {
          div.media.media--bundle--inclusive-language {
            display: block;
          }
        }

        &.active {

          div.media.media-container {

            img {
              filter: $img-filter-secondary;
            }

            .media-body {
              .title,
              .title * {
                color: $text-alpha;
              }
            }
          }

          div.description,
          div.description * {
            color: $text-alpha;
          }

          div.description,
          div.description *,
          &:after {
            visibility: visible;
          }
        }
      }
    }
      
  }

  // CONTENIDO
  div.tab-content {
    margin: auto;
    padding: 20px;
    background: $bg-gray;

    @include small {
      padding: 20px 50px;
    }

    div.tab-pane {
      position: relative;
      width: 100%;
      max-width: 100%;
      margin: auto;

      @include large-lg {
        max-width: 90%;
      }
    }

    .slick-dots {
      top: 100%;
      margin: 0 auto;
      padding: 0;
    }
  }
}

// VERTICALES
.tabs-container.tabs-vertical {
  padding: 0;
  margin: auto;

  @include tablet {
    padding: 20px 50px;
  }

  // BARRA DE NAVEGACION
  div.nav-tab-content {
    background: $bg-light-grey;
    border-radius: $border-radius-global $border-radius-global 0 0;

    @include desktop {
      border-radius: $border-radius-global 0 0 $border-radius-global;
    }

    div.nav-pills {
      flex-wrap: nowrap;
      text-align: center;

      @include desktop {
        flex-wrap: wrap;
        text-align: left;
      }

      a,
      button {
        position: relative;
        padding: 20px 5px;
        border-right: 1px solid $bg-dark-blue;
        border-bottom: none;

        @include small {
          padding: 20px 25px;
        }

        @include desktop {
          padding: 30px 40px;
          border-right: none;
          border-bottom: 2px solid $bg-white;
        }
        
        * {
          font-family: $roboto-condensed;
          color: $text-dark-blue;
          font-size: 12pt;
          font-weight: 600;

          @include small {
            font-size: 16pt;
          }

          @include tablet {
            font-size: 20pt;
          }

          @include large-lg {
            font-size: 24pt;
          }
        }

        &:first-child {
          border-radius: $border-radius-global 0 0 0;

          @include desktop {
            border-radius: $border-radius-global 0 0 0;
          }
        }

        &:last-child {
          border: none;
          border-radius: 0 $border-radius-global 0 0;

          @include desktop {
            border-radius: 0;
          }
        }

        &:after {
          font-family: "Material Icons";
          content: "arrow_drop_down";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          color: $bg-secondary;
          font-size: 80pt;
          transform: translateY(10%);
          z-index: 1;
          visibility: hidden;

          @include small {
            transform: translateY(30%);
          }

          @include desktop {
            content: "arrow_right";
            left: unset;
            transform: translate(58%, -30%);
          }
        }

        &:hover {
          div.media.media--bundle--inclusive-language {
            display: block;
          }
        }

        &.active {
          background: $bg-secondary;

          * {
            color: $text-white;
          }

          &:after {
            visibility: visible;
          }
        }

        & > div {

        }
      }
    }
  }

  // CONTENIDO
  div.tab-content {
    width: 100%;
    height: 100%;
    padding: 20px;
    background: $bg-white;
    border-radius: 0 0 $border-radius-global $border-radius-global;

    @include desktop {
      padding: 40px;
      border-radius: 0 $border-radius-global $border-radius-global 0;
    }

    > div {
      height: 100%;
    }

    * {
      font-family: $roboto-condensed;
    }
  }

  .slick-dots {
    position: absolute;
    width: auto;
    top: 100%;
    right: 0;
    left: unset;
    margin: 0;

    li {
      button {
        background: $bg-dark-gray;
      }

      &.slick-active {
        button {
          background: $bg-secondary;
        }
      }
    }
  }
}