@use './variables/variables' as var;
// body
// -----------------------------------------------------------------------------
body {
  background-color: rgb(235, 235, 235);
}

// Headings
// -----------------------------------------------------------------------------
h1, h2, h3, h4, h5, h6 {
 color: var.$text-color-primary !important;
}

// Text
// -----------------------------------------------------------------------------
p {
  color: var.$text-color-secundary !important;
}

// Links
// -----------------------------------------------------------------------------
main{

  a { 
  color: var.$btn-color-primary !important;
  text-decoration: underline;
  font-weight: bold;

  @include hover {

  }
}

}


// Lists
// -----------------------------------------------------------------------------
ol,
ul,
dl {

}

// Image
// -----------------------------------------------------------------------------
img {

}

figure {

}

figcaption {

}

// Other
// -----------------------------------------------------------------------------
blockquote {

}

strong {

}

small {

}
