@use './variables/variables' as var;
// body
// -----------------------------------------------------------------------------
body {
  background-color: rgb(235, 235, 235);
}

// Headings
// -----------------------------------------------------------------------------
h1, h2, h3, h4, h5, h6 {
 color: var.$text-color-primary;
}

h1 > * {
  display: block;
  font-size: 25pt;
}

h2 > * {
  font-family: $roboto-condensed;
  font-size: 18pt;

  @include small {
    font-size: 26pt;
  }

  @include desktop {
    font-size: 35pt;
  }
}

// Text
// -----------------------------------------------------------------------------
p {
  color: var.$text-color-secundary;
}

// Links
// -----------------------------------------------------------------------------
main{

  a { 
  color: var.$btn-color-primary;
  text-decoration: underline;
  font-weight: bold;

  @include hover {

  }
}

}


// Lists
// -----------------------------------------------------------------------------
ol,
ul,
dl {

}

// Image
// -----------------------------------------------------------------------------
img {

}

figure {

}

figcaption {

}

// Other
// -----------------------------------------------------------------------------
blockquote {

}

strong {

}

small {

}

time {
  border-left: 5px solid rgb(51, 102, 204);
  padding: 0 10px;
  margin: 0 auto 20px;
}

sub {

  > * {
    color: rgba(40, 55, 137, 1);
    font-style: oblique;
    font-weight: bold;
  }
}
