@use '../variables/variables' as var;
/* ==============================
ENCABEZADO
============================== */
@mixin encabezado-webcrc($tag) {

    #{$tag}.header__title{

        position: relative;
        
        @include media-breakpoint-up(md) {
            &::after{
                content: "";
                position: absolute;
                bottom: -8%;
                left: 25%;
                border-top: 20px solid white;
                border-top-color: inherit;
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                color: white;
                z-index: 1;
            }
        }        
    }
}

/* ============================================
FONDO A CONTENIDO DE INTERES O RELACIONADOS
=============================================== */
@mixin content-related--bg--webcrc() {
    
    div#content-related--bg--webcrc{
        background-color: var.$bg-color-quinario;
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100%;
    }
}
