// GLOBAL
ul.block-grid {
  margin: auto;
}

.block-main-micrositios {
  .backgorund-gradient-blue {
    background: $bg-dark-blue;
    background: $bg-gradient-primary;

    *, a,
    h1, h2, h3, 
    h4, h5, h6, 
    p, div, span,
    .block-title-personalized,
    .block-title-personalized a,
    .block-title-personalized p {
      color: $text-white;
    }
  }

  .backgorund-gray {
    background-color: $text-gray;

    *,
    h1, h2, h3, 
    h4, h5, h6, 
    p, div, span,
    .block-title-personalized,
    .block-title-personalized a,
    .block-title-personalized p  {
      color: $text-black;
    }

    sub {
      &, * {
        color: $lb-primary;
      }
    }

    .menu-microsite .slide__content .slide__grid::after {
      background: $bg-black;
    }

    ul.slick-dots li button {
      background: $bg-dark-gray;
    }
  }

  .backgorund-white {
    background-color: $bg-white;

    *,
    h1, h2, h3, 
    h4, h5, h6, 
    p, div, span,
    .block-title-personalized,
    .block-title-personalized a,
    .block-title-personalized p  {
      color: $text-black;
    }

    sub {
      &, * {
        color: $lb-primary;
      }
    }

    .menu-microsite .slide__content .slide__grid::after {
      background: $text-black;
    }

    ul.slick-dots li button {
      background: $bg-dark-gray;
    }
  }
}

// MENU MICROSITIO
.menu-microsite {

  .slick > div > ul {
    display: flex;
    justify-content: center;
    margin: auto;

    .grid {
      position: relative;
      padding: 0 20px;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 2px;
        height: 60%;
        margin: auto;
        background: $bg-white;
      }

      &:last-child:after {
        display: none;
      }

      .slide__caption {
        padding: 20px 0;

        .field-content {
  
          > * {
            font-size: 14pt;
            font-weight: bold;
            text-decoration: none;
            margin: auto;
            display: block;
            text-align: center;

            &:hover,
            &:focus,
            &:active,
            &:visited {
              color: $bg-white;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

// BLOQUE PLANTILLA PERSONALIZADA
.block-micrositio-1 {
  max-width: 100%;
  margin: auto;
  padding: 50px 10px;

  @include large {
    padding: 50px 0;
  }

  .block-title-personalized,
  .block-title-personalized a,
  .block-title-personalized p {
    font-size: 22pt;
    font-weight: bold;
    color: $text-black;
    text-decoration: none;

    br {
      display: none;
    }
  }

  p {
    font-size: 14pt;
  }

  .block-image-personalized {
    img {
      max-width: 100%;
      height: auto;
      margin: auto;
    }
  }
}

// NOTICIAS 
.last-news-internal {
  .slide__caption {
    display: block;
    flex-wrap: wrap;
    align-items: flex-start;

    @include small {
      display: flex;
    }

    > * {
      width: 100%;
      margin-bottom: 20px;

      @include small {
        width: 50%;
        margin-bottom: 0;
      }
    }

    img {
      border-radius: 15px;
    }

    a {
      text-decoration: none;
    }

    .slide__data {
      padding: 0;

      @include small {
        padding: 0px 30px 10px;
      }

      h1, h2, h3, 
      h4, h5, h6 {

        &, * { 
          display: block;
          font-size: 14pt;
          line-height: 30px;
          font-weight: 600;
        }
      }
    }
  }

  ul.slick-dots {
    margin: 10px auto -10px;
  }
}

// ACCESOS RAPIDOS
.quick-access-primary {

  .slick > div > ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;

    li {
      position: relative;
      padding: 30px 20px;

      h1, h2, h3, h4, h5, h5,
      div, p {
        color: $lb-primary;
        font-size: 14pt;
      }

      .grid__content {
        height: 100%;
        border-radius: 15px;
        background: $bg-white;

        &:before {
          font-family: "Material Icons";
          content: 'arrow_drop_up';
          position: absolute;
          right: 0;
          left: 0;
          bottom: -10px;
          color: transparent;
          font-size: 3rem;
          text-align: center;
          margin: auto;
        }

        .slide__caption {
          padding: 50px;
          text-align: center;
          color: $lb-primary;

          .slide__description {

            > div {
              margin-bottom: 20px;

              &:first-child,
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
    
          a {
            position: absolute;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            text-align: center;
            background: transparent !important;
            color: transparent !important;
            z-index: 1;
          }
    
          .background-round {
            background: $bg-dark-blue;
            border-radius: 50%;
            margin: auto;
            width: 100%;
            max-width: 100px;
          }
    
          img {
            width: 100%;
            max-width: 100px;
            min-width: 70px;
            padding: 20px;
          }
        }

        &:hover,
        &:active,
        &:focus,
        &:visited {
          background: $bg-secondary;
    
          &::before {
            color: $text-white;
          }
    
          &::after {
            display: none;
          }
    
          h1, h2, h3, h4, h5, h5,
          div, p {
            color: $text-white;
          }
    
          .background-round {
            background: $bg-white;
          }
    
          img {
            filter: $img-filter-primary;
          }
        }
      }
    }
  }
}

// TEMAS DE INTERES
.themes-interest {

  .slick > div > ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;

    li {

      .grid__content {

        a {
          position: absolute;
          right: 0;
          left: 0;
          top: 0;
          bottom: 0;
          text-align: center;
          background: transparent !important;
          color: transparent !important;
          z-index: 1;
        }

        img {
          max-width: 100%;
        }
      }
    }
  }
}