// Page: Header
// -----------------------------------------------------------------------------
.page__header {

  .header-gov {
    background: rgb(51, 102, 204);

    img {
      padding: 10px;
      max-width: 150px;
    }

    .lang-govco
    {
      color: #fff;
    }
  }

  .header-webcrc {

    .logo-crc {
      background: rgb(244,46,98);
      background: linear-gradient(110deg, rgba(244,46,98,1) 90%, rgba(255,255,255,0) 90%); 
      padding: 15px 0;
    }
  }
}
